.login__container{
    padding-bottom: 80px;
    border: 2px solid rgba(0, 0, 0, 0.5) ;
    border-radius: 10px;
    width: 400px;
    height:500px;
    margin-top: 60px;
    background-color: rgba(0, 0, 0, 0.5);

    }
    .link-register-style{
        color: #aaaaa2;
        padding-left: 10px;
    }
    .link-register-style:hover{
        color: #aaaaa2;
        text-decoration-line: underline;
    }

    @media (max-width: 769px) {
        body {
            background-image: url("../assets/modern-apartment-building-features-green-facade-design-generated-by-ai-free-photo.jpg"); /* Optional: Different image for tablets */
            background-size: cover;
            background-position: center;
        }
       
    }
    
    @media (max-width: 480px) {
        body {
            background-image: url("../assets/modern-apartment-building-features-green-facade-design-generated-by-ai-free-photo.jpg"); /* Optional: Different image for tablets */
            background-size: cover;
            background-position: center;
        }
        .login__container {
            width: 100%;
           
            padding: 10px;
          margin-top: 45%;
        }
    
        .link-style {
            font-size: 0.875rem; /* Adjust font size for smaller screens */
        }
    }